@model ElecPOE.Models.AssessmentAttachment
<style>
    .modal-dialog {
        height: 90vh;
        max-height: 90vh;
    }

    .modal-content {
        height: 100%;
    }


    .modal-body {
        height: calc(100% - 56px);
        overflow: hidden;
    }


    #pdfFrame {
        width: 100%;
        height: 100%;
        border: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<iframe src="~/Assessments/@Model.Document" style="width: 90%; height: 500px; border: none;" type="application/pdf"></iframe>




<div class="modal fade" id="previewStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Preview Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="docPreview">
                <iframe src="~/Assessments/@Model.Document"></iframe>
                <p>Value: @Model.Document</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $("#previewStaticBackdrop").modal('show');
    });

</script>
