@using ElecPOE.Enums
@model ElecPOE.DTO.WorkplaceModulesDTO

<style>
    .card-header, .head {
        background-color: darkred;
    }

    .res {
        margin-right: 10px;
    }

    .form-control {
        border-color: black;
    }

    thead {
        background-color: darkred;
    }

    th {
        color: white;
    }
</style>

    <div class="col-xl-12">
        <div class="row">
            <div class="modal-body">
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa bi-building me-1 text-white"></i>
                        <span class="text-white">Manage Learner Workplace Modules<span class="text-bold"></span></span>
                    </div>

                    <div class="card-body">

                    <form asp-action="OnViewModule">
                        <div class="row">

                            <div class="form-group col-md-12">
                                <label class="control-label">Student</label>
                                <div class="input-group input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    <input asp-for="Student" type="text"  class="form-control fw-bold" required style="background-color:#FFD580" readonly/>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label">Course</label>
                                <div class="input-group  input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-users text-primary"></i></span>
                                    <select asp-for="Course" class="form-control" asp-items="@ViewBag.CourseId" required>
                                        <option selected="selected" value="">Select Course</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Module</label>
                                <div class="input-group  input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-users text-primary"></i></span>
                                    <select asp-for="Module" class="form-control module" required asp-items="@ViewBag.ModuleId">
                                        <option selected="selected" value="">Select Module</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Duration</label>
                                <div class="input-group input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-graduation-cap text-primary"></i></span>
                                    <input asp-for="Days" type="number" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Module Progress</label>
                                <div class="input-group input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa bi-question-circle text-primary"></i></span>
                                    <select asp-for="Progress" class="form-control" asp-items="Html.GetEnumSelectList<eStatus>()" required>
                                        <option selected="selected" value="">Select Progress</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label">Start Date</label>
                                <div class="input-group input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                    <input asp-for="StartDate" type="date"  class="form-control " required/>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label">End Date</label>
                                <div class="input-group input1">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                    <input asp-for="EndDate" type="date" class="form-control" required />
                                </div>
                            </div>


                            <div class="form-group mt-2">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                           

                            <input asp-for="LearnerWorkplaceModulesId" hidden />
                            <input asp-for="PlacementId" hidden />

                            <div class="form-group col-md-12 mt-3" style="background-color:whitesmoke;">
                                <button type="submit" class="btn btn-success save"><i class="fa fa-save"></i> Save</button>
                                <a class="btn btn-danger float-end" asp-action="WorkplaceModules" asp-controller="WorplaceModules" asp-route-PlacementId="@Model.PlacementId"><i class="fa fa-window-close"></i> Exit</a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

