@{
    Layout = null;
}

<br />
<div class="alert alert-success" role="alert">
    <strong>Application Submitted</strong> <hr />
    Thank you for your application - we'll get back at you soon.
</div>