@model ElecPOE.Models.Evidence
@using ElecPOE.Enums

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>

<style>
    .card-header, .head {
        background-color: darkred;
    }

    .form-control {
        border-color: black;
    }
     .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: black;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-futbol me-1 text-white"></i>
            <span class="text-white">Student Gallery Section</span>
        </div>
        <div class="card-body">

            <div class="col-md-12">
                <form asp-action="UploadEvidence" enctype='multipart/form-data'>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-xl-8 bod">
                            <div class="card mb-4 bod">
                                <div class="card-header text-white">
                                    <i class="fas fa-chart-area me-1"></i>
                                    Student (Gallery) Evidence [Simulation]
                                </div>
                               
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="form-group col-md-8">
                                            <label asp-for="Module" class="control-label"></label>
                                            <select asp-for="Module" class="form-control Module" asp-items="@Html.GetEnumSelectList<eModule>()">
                                                <option selected="selected" value="">Select Module</option>
                                            </select>
                                            <span asp-validation-for="Module" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Attach File</label>
                                            <input asp-for="PhotoFile" accept="image/*,.pdf" type="file" class="form-control" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" class="form-control" />
                                            <span asp-validation-for="PhotoFile" class="text-danger"></span>
                                        </div>
                                    </div>

                                     <div hidden>
                                         @Html.TextBox("StudentNumber", ViewData["StudentNumber"], new {htmlAttributes = new {@class="form-control",name="StudentNumber"}})
                                         @Html.TextBox("StudentId", ViewData["StudentId"], new {htmlAttributes = new {@class="form-control",name="StudentId"}})
                                     </div>
                                   
                                    <div class="form-group mt-4" style="background-color:whitesmoke;">
                                        <button type="submit" class="btn btn-success save"><i class="fa fa-save"></i> Save</button>
                                        <button type="reset" class="btn btn-outline-warning"><i class="fa fa-undo"></i> Reset</button>
                                        <button type="button" class="btn btn-outline-danger float-end"><i class="fa fa-window-close"></i> Exit</button>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-warning" asp-action="OnViewAllFiles" asp-route-StudentNumber="@ViewData["StudentNumber"]"><i class="fa bi-images"></i> View Gallery</a>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card mb-4 bod">
                                <div class="card-header text-white">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Uploaded File
                                </div>
                                <div class="card-body mb-4">
                                    <img id="output" src="~/assets/img/ImagePlaceholder.png" class="form-control" height="300px" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
         $('.Module').select2();
    });
</script>