@using ElecPOE.Enums
@model dynamic


<style>
    .card-header, .head {
        background-color: darkred;
    }

    .form-control {
        border-color: black;
    }

    thead {
        background-color: darkred;
    }

    th {
        color: white;
    }
</style>

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-file me-1 text-white"></i>
            <span class="text-white">NATED Studies Home Page<span class="text-bold"></span></span>
        </div><br />
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-file me-1 text-white"></i>
                    <span class="text-white">NATED - Assessments<span class="text-bold"></span></span>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <button class="btn btn-outline-primary"> Assessment Schedule</button>
                        <button class="btn btn-outline-secondary"> Instrument Tools</button>
                        <button class="btn btn-outline-danger"> Pre-Assessment Moderation</button>
                        <button class="btn btn-outline-dark"> Post-Assessment Moderation</button>
                        <button class="btn btn-danger"> Monitoring-Report Template</button>
                        <button class="btn btn-primary"> Composite Pre & Post</button>
                        <button class="btn btn-secondary"> ICASS</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
